{% extends 'layout/logged.html.twig' %}

{% block body %}
    <h1>{{ 'word.welcome'|trans }}</h1>

    <h2>{{ 'title.last_opportunities'|trans }}</h2>
    <table class="table table-striped">
        <tr>
            <th>{{ 'entity.Company.label'|trans({'%count%': 1}) }}</th>
            <th>{{ 'entity.Opportunity.label'|trans({'%count%': 1}) }}</th>
            <th>{{ 'entity.Tender.field.amount'|trans({'%count%': 1}) }}</th>
            <th>{{ 'field.status'|trans }}</th>
        </tr>
        {% for opportunity in opportunities %}
        <tr>
            <td><a href="{{ path('company.show', {'id': opportunity.company.id}) }}">{{ opportunity.company.name }}</a></td>
            <td><a href="{{ path('opportunity.show', {'id': opportunity.id}) }}">{{ opportunity.ref }}</a></td>
            <td><a href="{{ path('tender.show', {'id': opportunity.tenders.0.id}) }}">{{ opportunity.tenders.0.amount }}</a></td>
            <td>
                {{ opportunity.status.trad|jsonTrans }}
                {% if opportunity.forecastedDelivery is not empty and opportunity.deliveredAt is empty %}
                    <br /><strong>{{ 'entity.Opportunity.field.forecasted_delivery'|trans }}: <span class="c-red">{{ opportunity.forecastedDelivery|date('Y-m-d') }}</span></strong>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <h2>{{ 'title.utils'|trans }}</h2>
    <ul>
        <li><a href="https://www.autoentrepreneur.urssaf.fr/services/espace-personnel">{{ 'word.declaration_ca'|trans }}</a></li>
        <li><a href="https://www.autoentrepreneur.urssaf.fr/services/espace-personnel/declarer-et-payer/calendrier-des-echeances">Calendrier : </a></li>
        <li>Siret: {{ siret }}</li>
        <li>Sécu: {{ secu }}</li>
    </ul>

{% endblock %}
