{% extends 'layout/logged.html.twig' %}

{% block body %}
    <h1>{{ 'entity.TenderRow.label'|trans({'%count%': 1}) }}</h1>

    <a class="btn btn-primary" href="{{ path('tender_row.edit', {'id': tenderRow.id}) }}">{{ 'entity.TenderRow.action.edit'|trans }}</a>

    <h2>{{ tenderRow.title }}</h2>
    <p>{{ tenderRow.description }}</p>

{% endblock %}
