{% extends 'layout/logged.html.twig' %}

{% block body %}

    <h1>{{ 'entity.Tender.label'|trans({'%count%': 2}) }}</h1>

    <a class="btn btn-primary" href="{{ path('tender.new') }}">{{ 'entity.Tender.action.new'|trans }}</a>

    <table class="table table-striped">
        <tr>
            <th>{{ 'entity.Company.label'|trans({'%count%': 1}) }}</th>
            <th>{{ 'entity.Opportunity.label'|trans({'%count%': 1}) }}</th>
            <th>{{ 'field.version'|trans }}</th>
            <th>{{ 'field.status'|trans }}</th>
            <th>{{ 'entity.Tender.field.sold_days'|trans }}</th>
            <th>{{ 'entity.Tender.field.amount'|trans }}</th>
        </tr>
        {% for tender in list %}
            <tr>
                <td><a href="{{ path('company.show', {'id': tender.opportunity.company.id}) }}">{{ tender.opportunity.company.name }}</a></td>
                <td><a href="{{ path('opportunity.show', {'id': tender.opportunity.id}) }}">{{ tender.opportunity.ref }}</a></td>
                <td><a href="{{ path('tender.show', {'id': tender.id}) }}">{{ tender.version }}</a></td>
                <td>{{ tender.status.trad|jsonTrans }}</td>
                <td>{{ tender.soldDays }}</td>
                <td>{{ tender.amount }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
