{% extends 'layout/logged.html.twig' %}

{% block body %}
    <div id="vjs-tender-show"
         data-vjs='{{ vjsData|json_encode|e('html_attr') }}'
    >

        <h1>{{ 'entity.Tender.label'|trans({'%count%': 1}) }}</h1>

        <a class="btn btn-primary" href="{{ path('tender.edit', {'id': tender.id}) }}">{{ 'entity.Tender.action.edit'|trans }}</a>

        <h2><a href="{{ path('opportunity.show', {'id': tender.opportunity.id}) }}">{{ tender.opportunity.ref }} v{{ tender.version }}</a></h2>
        <p>
            <strong>{{ tender.status.trad|jsonTrans }}</strong>
            {% if tender.tenderFileDocx is not empty %}
                <a target="_blank" href="/documents/tenders/{{ tender.tenderFileDocx }}" title="{{ 'entity.Tender.label'|trans({'%count%': 1}) }}"><i class="far fa-file-word"></i></a>
            {% endif %}
            {% if tender.tenderFilePdf is not empty %}
                <a target="_blank" href="/documents/tenders/{{ tender.tenderFilePdf }}" title="{{ 'entity.Tender.label'|trans({'%count%': 1}) }}"><i class="far fa-file-pdf c-red"></i></a>
            {% endif %}
            <br />
            <i>{{ tender.comments }}</i>
        </p>

        <h2>{{ 'entity.TenderRow.label'|trans({'%count%': 2}) }}</h2>
        <a class="btn btn-primary" href="{{ path('tender_row.new', {'tender_id': tender.id}) }}">{{ 'entity.TenderRow.action.new'|trans }}</a><br />
        <table class="table table-striped">
            <tr>
                <th>{{ 'entity.TenderRow.field.title'|trans }}</th>
                <th>{{ 'field.description'|trans }}</th>
                <th>{{ 'entity.Tender.field.sold_days'|trans }}</th>
                <th>{{ 'entity.Tender.field.amount'|trans }}</th>
            </tr>
            {% for tenderRow in tender.tenderRows %}
                <tr>
                    <td><a href="{{ path('tender_row.show', {'id': tenderRow.id}) }}">{{ tenderRow.position }}. {{ tenderRow.title }}</a></td>
                    <td>{{ tenderRow.description }}</td>
                    <td>{{ tenderRow.soldDays }}</td>
                    <td>{{ tenderRow.soldDays*tender.averageDailyRate }}</td>
                </tr>
            {% endfor %}
        </table>
        <u class="float-right mr-3"><strong>{{ 'entity.Tender.field.average_daily_rate'|trans }}: {{ tender.averageDailyRate }}</strong></u>

        <h2>
            {{ 'entity.WorkedTime.label'|trans({'%count%': 2}) }}
            <a @click.prevent="showPopupAddWorkedDays" href="{{ path('tender.worked_time.new', {'id': tender.id}) }}" title="{{ 'entity.WorkedTime.action.new'|trans }}"><i class="far fa-clock"></i></a>
        </h2>
        <ul>
            <li v-for="(workedTime, index) in workedTimes">
                <a :href="'/user/' + workedTime.user.id" title="{{ 'entity.User.action.show'|trans }}">${ workedTime.user.fullName }</a> -
                <a @click.prevent="showPopupEditWorkedDays($event, index)" :href="'/time/' + workedTime.id + '/edit'" title="{{ 'entity.WorkedTime.action.edit'|trans }}">${ workedTime.date } - ${ workedTime.workedDays } {{ 'word.day'|trans({'%count%': 2}) }}</a>
            </li>
            {{ 'word.total'|trans }}: ${ tender.totalWorkedDays } {{ 'word.day'|trans({'%count%':2}) }}
        </ul>

        <h2>{{ 'word.timeline'|trans }}</h2>
        <ul>
            {% for log in tender.statusLogs %}
                <li><strong>{{ log.status.trad|jsonTrans }}</strong> {{ 'word.at'|trans }} {{ log.createdAt|date('Y-m-d H:i:s') }} {{ 'word.by'|trans }} <a href="{{ path('user.show', {'id': log.createdBy.id}) }}">{{ log.createdBy.fullName }}</a></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
