{#{% extends 'layout/logged.html.twig' %}

{% block body %}#}
    <h1>{{ 'entity.Cost.action.edit'|trans }}</h1>

    {{ form_start(form, {'action': path('cost.edit', {'id': cost.id})}) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary" type="submit">{{ 'form.edit'|trans }}</button>
    {{ form_end(form) }}

{#
{% endblock %}
#}
