{% extends 'layout/logged.html.twig' %}

{% block body %}
    <h1>{{ 'entity.Contact.label'|trans({'%count%': 1}) }}</h1>

    <a class="btn btn-primary" href="{{ path('contact.edit', {'id': contact.id}) }}">{{ 'entity.Contact.action.edit'|trans }}</a>

    <h2>{{ contact.fullName }}</h2>
    <p>
        <a href="{{ path('company.show', {'id': contact.company.id}) }}">{{ contact.company.name }}</a><br />
        <i class="fa fa-envelope"></i> {{ contact.email }}<br />
        <i class="fa fa-phone"></i> {{ contact.phone }}<br />
        <i>{{ contact.comments }}</i>
    </p>

    <h2>{{ 'entity.Opportunity.label'|trans({'%count%': 2}) }}</h2>
    <a class="btn btn-primary" href="{{ path('opportunity.new', {'contact_id': contact.id, 'company_id': contact.company.id}) }}">{{ 'entity.Opportunity.action.new'|trans }}</a>
    <table class="table table-striped">
        <tr>
            <th>{{ 'entity.Opportunity.label'|trans({'%count%': 1}) }}</th>
            <th>{{ 'field.status'|trans }}</th>
        </tr>
        {% for opportunity in contact.opportunities %}
            <tr>
                <td><a href="{{ path('opportunity.show', {'id': opportunity.id}) }}">{{ opportunity.ref }}</a></td>
                <td>{{ opportunity.status.trad|jsonTrans }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
