{% extends 'layout/logged.html.twig' %}

{% block body %}
    <div id="vjs-opportunity-show"
         data-vjs='{{ vjsData|json_encode|e('html_attr') }}'
    >

        <h1>{{ 'entity.Opportunity.label'|trans({'%count%': 1}) }}</h1>

        <a class="btn btn-primary" href="{{ path('opportunity.edit', {'id': opportunity.id}) }}">{{ 'entity.Opportunity.action.edit'|trans }}</a>

        <h2>{{ opportunity.ref }}</h2>
        <p>
            <a href="{{ path('company.show', {'id': opportunity.company.id}) }}"><i class="far fa-building"></i> {{ opportunity.company.name }}</a><br />
            {% for contact in opportunity.contacts %}
                <a href="{{ path('contact.show', {'id': contact.id}) }}"><i class="far fa-id-badge"></i> {{ contact.fullName }}</a><br />
            {% endfor %}
            {{ opportunity.description }}<br />
            <strong>{{ opportunity.status.trad|jsonTrans }}</strong>
            {% if opportunity.billFileDocx is not empty %}
                <a target="_blank" href="/documents/bills/{{ opportunity.billFileDocx }}" title="{{ 'entity.Opportunity.field.bill'|trans }}"><i class="far fa-file-word"></i></a>
            {% endif %}
            {% if opportunity.billFilePdf is not empty %}
                <a target="_blank" href="/documents/bills/{{ opportunity.billFilePdf }}" title="{{ 'entity.Opportunity.field.bill'|trans }}"><i class="far fa-file-pdf c-red"></i></a>
            {% endif %}
            <br />
            <i>{{ opportunity.comments }}</i>
        </p>

        <h2>{{ 'entity.Tender.label'|trans({'%count%': 2}) }}</h2>
        <a class="btn btn-primary" href="{{ path('tender.new', {'opportunity_id': opportunity.id}) }}">{{ 'entity.Tender.action.new'|trans }}</a>
        <table class="table table-striped">
            <tr>
                <th>{{ 'entity.Tender.field.version'|trans }}</th>
                <th>{{ 'field.status'|trans }}</th>
                <th>{{ 'entity.Tender.field.sold_days'|trans }}</th>
                <th>{{ 'entity.Tender.field.amount'|trans }}</th>
                <th>{{ 'entity.WorkedTime.label'|trans }}</th>
            </tr>
            {% for tender in opportunity.tenders %}
                <tr>
                    <td><a href="{{ path('tender.show', {'id': tender.id}) }}">{{ tender.version }}</a></td>
                    <td>{{ tender.status.trad|jsonTrans }}</td>
                    <td>{{ tender.soldDays }}</td>
                    <td>{{ tender.amount }}</td>
                    <td>${ tenders[{{ loop.index0 }}].totalWorkedDays } <a @click.prevent="showPopupAddWorkedDays($event, {{ loop.index0 }})" href="{{ path('tender.worked_time.new', {'id': tender.id}) }}" title="{{ 'entity.WorkedTime.action.new'|trans }}"><i class="far fa-clock"></i></a></td>
                </tr>
            {% endfor %}
        </table>

        <h2>{{ 'word.timeline'|trans }}</h2>
        <ul>
            {% for log in opportunity.statusLogs %}
                <li><strong>{{ log.status.trad|jsonTrans }}</strong> {{ 'word.at'|trans }} {{ log.createdAt|date('Y-m-d H:i:s') }} {{ 'word.by'|trans }} <a href="{{ path('user.show', {'id': log.createdBy.id}) }}">{{ log.createdBy.fullName }}</a></li>
            {% endfor %}
        </ul>

        <h2>{{ 'field.file'|trans({'%count%':2}) }}</h2>
        <div>
            <ul class="filesBag">
                <li v-for="file in files">
                    <a target="_blank" :href="'/documents/misc/'+ file.path" :title="file.description"><i class="far fa-file-pdf c-red"></i> ${ file.title }</a>
                </li>
                <li><i @click="showPopupAddFile" class="far fa-plus-square" title="{{ 'entity.File.action.new'|trans }}"></i></li>
            </ul>
            <div class="d-none" ref="addForm">
                {{ form_start(fileForm, {'action' : path('api.opportunity.files.new', {'id': opportunity.id}), 'attr': {'@submit.prevent': 'postFile'}}) }}
                {{ form_widget(fileForm) }}
                <button type="submit" class="btn btn-primary" type="submit">{{ 'form.add'|trans }}</button>
                {{ form_end(fileForm) }}
            </div>
        </div>
    </div>

{% endblock %}
