<!DOCTYPE html>
<html lang="{{ app.request.locale }}" data-color-mode="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="img/app/favicon.png">
        <title>{% block title %}MP3000{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>

    {% block tradjs %}{% endblock %}

    <header>
        {% block menu %}{% endblock %}
    </header>

    <main role="main">
        <div id="main-fluid-pre" class="container-fluid">
            {% block prebody %}{% endblock %}
        </div>
        <div id="main" class="container">
            {% block body %}{% endblock %}
        </div>
        <div id="main-fluid-post" class="container-fluid">
            {% block postbody %}{% endblock %}
        </div>
    </main>

    <footer class="container-fluid">
        v{{ version }} - <a href="https://github.com/mp3000mp/auto-entreprise" title="github">mp3000mp</a>
    </footer>

    {% block javascripts %}
        <script src="{{ asset('build/runtime.js') }}"></script>
        <script src="{{ asset('build/app.js') }}"></script>
    {% endblock %}
    </body>
</html>
