{% extends 'layout/logged.html.twig' %}

{% block body %}
    <h1>{{ 'menu.reporting'|trans }}</h1>

    <div id="reportingApp" class="container"
        data-tradjs='{{ trads|json_encode|e('html_attr') }}'>
        <div class="row">

            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-table"></i> {{ 'menu.synthesis'|trans({},'reporting') }}</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li @click="selectReport" data-menu="turnover" data-type="table" class="list-group-item" :class="{ active: activeReport.type == 'table' && activeReport.name=='turnover' }">{{ 'menu.turnover'|trans({},'reporting') }}</li>
                            <li @click="selectReport" data-menu="billed" data-type="table" class="list-group-item" :class="{ active: activeReport.type == 'table' && activeReport.name=='billed' }">{{ 'menu.billed'|trans({},'reporting') }}</li>
                            <li @click="selectReport" data-menu="purchased" data-type="table" class="list-group-item" :class="{ active: activeReport.type == 'table' && activeReport.name=='purchased' }">{{ 'menu.purchased'|trans({},'reporting') }}</li>
                            <li @click="selectReport" data-menu="comp" data-type="table" class="list-group-item" :class="{ active: activeReport.type == 'table' && activeReport.name=='comp' }">{{ 'menu.comp'|trans({},'reporting') }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-chart-line"></i> {{ 'menu.graph'|trans({},'reporting') }}</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li @click="selectReport" data-menu="turnover" data-type="bar" class="list-group-item" :class="{ active: activeReport.type == 'bar' && activeReport.name=='turnover' }">{{ 'menu.turnover'|trans({},'reporting') }}</li>
                            <li @click="selectReport" data-menu="billed" data-type="bar" class="list-group-item" :class="{ active: activeReport.type == 'bar' && activeReport.name=='billed' }">{{ 'menu.billed'|trans({},'reporting') }}</li>
                            <li @click="selectReport" data-menu="purchased" data-type="bar" class="list-group-item" :class="{ active: activeReport.type == 'bar' && activeReport.name=='purchased' }">{{ 'menu.purchased'|trans({},'reporting') }}</li>
                            <li @click="selectReport" data-menu="comp" data-type="bar" class="list-group-item" :class="{ active: activeReport.type == 'bar' && activeReport.name=='comp' }">{{ 'menu.comp'|trans({},'reporting') }} (bar)</li>
                            <li @click="selectReport" data-menu="comp" data-type="line" class="list-group-item" :class="{ active: activeReport.type == 'line' && activeReport.name=='comp' }">{{ 'menu.comp'|trans({},'reporting') }} (line)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card text-center">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'menu.visu'|trans({},'reporting') }}
                        <select @change="refreshData" v-model="dateX">
                            <option value="M">{{ 'x.M'|trans({},'reporting') }}</option>
                            <option value="Q" selected="selected">{{ 'x.Q'|trans({},'reporting') }}</option>
                            <option value="Y">{{ 'x.Y'|trans({},'reporting') }}</option>
                        </select>
                        </h3>
                    </div>
                    <div class="card-body">
                        <canvas id="reportingAppVisuGraph" :class="{ 'd-none': activeReport.type=='table' }"></canvas>
                        <div id="reportingAppVisuTable" v-html="table" v-if="activeReport.type == 'table'"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
